<!DOCTYPE html>
<html xmlns:th="http://www.thyemleaf.org">
<head>
<meta charset="utf-8"/>
<title>Ajouter Etudiant</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
     th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" href="../static/MyStyle.css"
     th:href="@{/css/MyStyle.css}"/>
      <h1>Add Etudiant</h1>
<form  th:object="${ajouterEtudiant}" th:action="@{/saveEtudiant}" action="/saveEtudiant" method="post">
Enter Name: <form:input path="nome"/><input type="text" name="nome"><br/><br/>
Enter Prenome: <form:input path="prenome"/><input type="text" name="prenome"><br/><br/>
Enter Username: <form:input path="username"/><input type="text" name="username"><br/><br/>
Enter Password: <form:input path="password"/><input type="text" name="password"><br/><br/>
Enter Email: <form:input path="email"/><input type="text" name="email"><br/><br/>
Enter Telephone: <form:input path="telephone"/><input type="text" name="telephone"><br/><br/>
Enter Role: <form:input path="role"/><input type="text" name="role"><br/><br/>
Date de Creation: <form:input path="dateCreation" type = "date"/><input type="date" name="dateCreation"><br/><br/>
Enter your level:<form:input path="NiveauEtude"/><input type="text" name="NiveauEtude"><br/><br/>
Date of Birth: <form:input path="dateNaissance" type = "date"/><input type="date" name="dateNaissance"><br/><br/>
     
<button type = "submit">ajouter</button><br/><br/>

          
</form:form>