<!DOCTYPE html>
<html xmlns:th="http://www.thyemleaf.org">
<head>
<meta charset="utf-8"/>
<title>Ajouter Utilisateur</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
     th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" href="../static/MyStyle.css"
     th:href="@{/css/MyStyle.css}"/>
      <h1>update Etudiant </h1>
<form th:object="${etudiant}" th:action="@{/saveEtudiant}" action="/saveEtudiant" method="post">
Enter id: <input type="text" name="id"  th:value="${etudiant.id}"><br/>
Enter Name: <input type="text" name="nome"  th:value="${etudiant.nome}"><br/>
Enter Prenome: <input type="text" name="prenome"  th:value="${etudiant.prenome}"><br/>
Enter Username: <input type="text" name="username"  th:value="${etudiant.username}"><br/>
Enter Password: <input type="text" name="password"  th:value="${etudiant.password}"><br/>
Enter Email: <input type="text" name="email"  th:value="${etudiant.email}"><br/>
Enter Telephone: <input type="text" name="telephone"  th:value="${etudiant.telephone}"><br/>
Enter Role: <input type="text" name="role"  th:value="${etudiant.role}"><br/>
Date de creation:<input type="date" name="dateCreation"  th:value="${etudiant.dateCreation}"><br/>
Enter your level: <input type="text" name="NiveauEtude"  th:value="${etudiant.NiveauEtude}"><br/>

Date of Birth : <input type="date" name="dateNaissance"  th:value="${etudiant.dateNaissance}"><br/>
<button type = "submit" >Modifier</button>
</form:form>


     