<!DOCTYPE html>
<html xmlns:th="http://www.thyemleaf.org">
<head>
<meta charset="utf-8"/>
<title>Ajouter Utilisateur</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
     th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" href="../static/MyStyle.css"
     th:href="@{/css/MyStyle.css}"/>
      <h1>update uatilisateur </h1>
<form th:object="${user}" th:action="@{/save}" action="/save" method="post">
Enter id: <input type="text" name="id"  th:value="${user.id}"><br/>
Enter Prenome: <input type="text" name="prenome"  th:value="${user.prenome}"><br/>
Enter nome: <input type="text" name="nome"  th:value="${user.nome}"><br/>
Enter Email: <input type="text" name="email"  th:value="${user.email}"><br/>
Enter Telephone: <input type="text" name="telephone"  th:value="${user.telephone}"><br/>
Enter Role: <input type="text" name="role"  th:value="${user.role}"><br/>

Date of Birth:<input type="date" name="dateCreation"  th:value="${user.dateCreation}"><br/>

<button type = "submit" >Modifier</button>
</form:form>

<!-- <tr th:each="u:${listUtilisateur}"> -->
<!-- <td th:text="${u.id}"></td> -->
<!-- <td th:text="${u.nome}"></td> -->
<!-- <td th:text="${u.prenome}"></td> -->
<!-- <td th:text="${u.username}"></td> -->
<!-- <td th:text="${u.password}"></ -->
<!-- <td th:text="${u.telephone}"></td> -->
<!-- <td th:text="${u.email}"></td> -->
<!-- <td th:text="${u.role}"></td> -->
<!-- <td th:text="${u.dateCreation}"></td> -->


